USE [master]
GO
/****** Object:  Database [PedroMateus_Recipes]    Script Date: 25/11/2020 00:30:15 ******/
CREATE DATABASE [PedroMateus_Recipes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Recepies', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Recepies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Recepies_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Recepies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PedroMateus_Recipes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PedroMateus_Recipes]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AccountID] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](25) NOT NULL,
	[CategoryDescription] [nvarchar](150) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[RecepieID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[Text] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavouriteRecepies]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavouriteRecepies](
	[RecepieID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[IsFavourite] [bit] NOT NULL,
 CONSTRAINT [PK_FavouriteRecepies] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RecepieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[IngredientID] [int] IDENTITY(1,1) NOT NULL,
	[IngredientName] [nvarchar](25) NOT NULL,
	[IngredientDescription] [nvarchar](150) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RecipeID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[RecipeID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](25) NOT NULL,
	[Duration] [int] NOT NULL,
	[Difficulty] [int] NOT NULL,
	[Instructions] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Recepies] PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipesIngredients]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipesIngredients](
	[RecipeID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_RecepieIngredient] PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC,
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [tinyint] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](150) NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [Username], [Password]) VALUES (1, N'pmateus', N'pmateus')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [Picture]) VALUES (1, N'Entradas e Petiscos', N'Categoria de receitas para entradas e petiscos', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [Picture]) VALUES (2, N'Sopas', N'Categoria de receitas para pratos de sopas', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [Picture]) VALUES (3, N'Carnes', N'Categoria de receitas para pratos compostos por carnes', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([IngredientID], [IngredientName], [IngredientDescription], [Picture]) VALUES (1, N'Sal', N'Mineral usado como ingrediente', NULL)
INSERT [dbo].[Ingredients] ([IngredientID], [IngredientName], [IngredientDescription], [Picture]) VALUES (2, N'Açúcar', N'Ingrediente utilizado para adoçar alimentos', NULL)
INSERT [dbo].[Ingredients] ([IngredientID], [IngredientName], [IngredientDescription], [Picture]) VALUES (3, N'Água', N'Substância química cujas moléculas são formadas por dois átomos de hidrogênio e um de oxigênio', NULL)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [AccountID], [FirstName], [LastName], [Gender], [Email], [Address], [IsAdmin], [IsBlocked]) VALUES (1, 1, N'Pedro', N'Mateus', 1, N'pmateus@gpr.com', N'Portugal', 1, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_User]    Script Date: 25/11/2020 00:30:15 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Recepies] FOREIGN KEY([RecepieID])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Recepies]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[FavouriteRecepies]  WITH CHECK ADD  CONSTRAINT [FK_FavouriteRecepies_Recipes] FOREIGN KEY([RecepieID])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[FavouriteRecepies] CHECK CONSTRAINT [FK_FavouriteRecepies_Recipes]
GO
ALTER TABLE [dbo].[FavouriteRecepies]  WITH CHECK ADD  CONSTRAINT [FK_FavouriteRecepies_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[FavouriteRecepies] CHECK CONSTRAINT [FK_FavouriteRecepies_User]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_Recepies] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_Recepies]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating_User]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recepies_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recepies_Categories]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recepies_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recepies_User]
GO
ALTER TABLE [dbo].[RecipesIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecepiesIngredients_Ingredients] FOREIGN KEY([IngredientID])
REFERENCES [dbo].[Ingredients] ([IngredientID])
GO
ALTER TABLE [dbo].[RecipesIngredients] CHECK CONSTRAINT [FK_RecepiesIngredients_Ingredients]
GO
ALTER TABLE [dbo].[RecipesIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecepiesIngredients_Recepies] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[RecipesIngredients] CHECK CONSTRAINT [FK_RecepiesIngredients_Recepies]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Account]
GO
/****** Object:  StoredProcedure [dbo].[spGetAll_Category]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetAll_Category] AS
BEGIN
SELECT * FROM Categories
ORDER BY CategoryName ASC 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAll_Ingredient]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetAll_Ingredient] AS
BEGIN
SELECT * FROM Ingredients
ORDER BY IngredientName ASC 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAll_Recepie]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetAll_Recepie]
AS
BEGIN
SELECT * FROM Recipes

INNER JOIN
Categories ON Recipes.CategoryID = Categories.CategoryID
INNER JOIN 
Ingredients ON Recipes.IngredientID = Ingredients.IngredientID
INNER JOIN 
[User] ON Recipes.UserID = [User].UserID

END
GO
/****** Object:  StoredProcedure [dbo].[spGetAll_User_Account]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetAll_User_Account]
AS
BEGIN
SELECT * FROM [User] 
INNER JOIN 
Account ON [User].AccountID = Account.AccountID
END
GO
/****** Object:  StoredProcedure [dbo].[spGetById_Category]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetById_Category] 
@CategoryID int
AS
BEGIN
SELECT * FROM Categories
WHERE CategoryID = @CategoryID
END
GO
/****** Object:  StoredProcedure [dbo].[spGetById_Ingredient]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetById_Ingredient] 
@IngredientID int

AS

BEGIN

SELECT * FROM Ingredients
WHERE IngredientID = @IngredientID

END
GO
/****** Object:  StoredProcedure [dbo].[spGetById_User]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetById_User]
@UserID int

AS
BEGIN
SELECT * FROM [User] 
INNER JOIN 
Account ON [User].AccountID = Account.AccountID
WHERE UserID = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert_Category]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsert_Category]
@CategoryName nvarchar(25),
@CategoryDescription nvarchar(150)
AS
BEGIN
INSERT INTO Categories 
(CategoryName,CategoryDescription)
VALUES
(@CategoryName,@CategoryDescription)
SELECT
CAST(SCOPE_IDENTITY() as int)
END
GO
/****** Object:  StoredProcedure [dbo].[spInsert_Ingredient]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsert_Ingredient]
@IngredientName nvarchar(25),
@IngredientDescription nvarchar(150)
AS
BEGIN
INSERT INTO Recipes..Ingredients
(IngredientName,IngredientDescription)
VALUES 
(@IngredientName,@IngredientDescription)
SELECT 
CAST(SCOPE_IDENTITY() as int)
END

GO
/****** Object:  StoredProcedure [dbo].[spInsert_User_Account]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spInsert_User_Account]

@FirstName nvarchar(50),
@LastName nvarchar(50),
@Gender tinyint,
@Email nvarchar(100),
@Address nvarchar(150),
@IsAdmin bit,
@IsBlocked bit,
@Username nvarchar(50),
@Password nvarchar(50)

AS
BEGIN

INSERT INTO Account
(Username, Password)
VALUES
(@Username, @Password)

DECLARE @AccountID int

SELECT @AccountID = AccountID from Account WHERE Username = @Username AND Password = @Password

INSERT INTO [User]
(FirstName, LastName, Gender, Email, Address, IsAdmin, IsBlocked, AccountID)
VALUES
(@FirstName, @LastName, @Gender, @Email, @Address, @IsAdmin, @IsBlocked, @AccountID)

SELECT
CAST(SCOPE_IDENTITY() as int)
END
GO
/****** Object:  StoredProcedure [dbo].[spRemove_Category]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRemove_Category] 
@CategoryID int
AS
BEGIN
DELETE FROM Categories
WHERE CategoryID = @CategoryID
END
GO
/****** Object:  StoredProcedure [dbo].[spRemove_Ingredient]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRemove_Ingredient] 
@IngredientID INT
AS
BEGIN
DELETE FROM Ingredients
WHERE IngredientID = @IngredientID
END
GO
/****** Object:  StoredProcedure [dbo].[spRemove_Recipe]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRemove_Recipe]
@RecipeID INT
AS
BEGIN
DELETE FROM Recipes
WHERE RecipeID = @RecipeID
END
GO
/****** Object:  StoredProcedure [dbo].[spRemove_User_Account]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spRemove_User_Account]
@UserID int
AS
BEGIN
DECLARE @AccountID int
SELECT @AccountID = AccountID from [User]
DELETE FROM [User]
WHERE UserID = @UserID
DELETE FROM Account
WHERE AccountID = @AccountID

END
GO
/****** Object:  StoredProcedure [dbo].[spUpdate_Category]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spUpdate_Category]
@CategoryID int,
@CategoryName nvarchar(25),
@CategoryDescription nvarchar(150)
AS
BEGIN
UPDATE Categories 
SET 
CategoryName = @CategoryName,
CategoryDescription = @CategoryDescription
WHERE 
CategoryID = @CategoryID
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdate_Ingredient]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spUpdate_Ingredient] 
@IngredientID int,
@IngredientName nvarchar(25),
@IngredientDescription nvarchar(150)
AS

BEGIN
UPDATE Ingredients 
SET 
IngredientName = @IngredientName,
IngredientDescription = @IngredientDescription
WHERE 
IngredientID = @IngredientID

END
GO
/****** Object:  StoredProcedure [dbo].[spUpdate_Recipe]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spUpdate_Recipe]
@title nvarchar(25),
@duration int,
@difficulty int,
@instructions nvarchar(max),
@status bit,
@recipeID int

AS

BEGIN

UPDATE Recipes..Recipes

SET 
Title = @title,
Instructions = @instructions,
Difficulty = @difficulty,
Duration = @duration

WHERE RecipeID = @recipeID

END
GO
/****** Object:  StoredProcedure [dbo].[spUpdate_User_Account]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spUpdate_User_Account]
@UserID int,
@AccountID int,
@FirstName nvarchar(50),
@LastName nvarchar(50),
@Gender tinyint,
@Email nvarchar(100),
@Address nvarchar(150),
@IsAdmin bit,
@IsBlocked bit,
@Username nvarchar(50),
@Password nvarchar(50)

AS
BEGIN
UPDATE Account
SET
Username = @Username,
Password = @Password
WHERE AccountID = @AccountID

SELECT @AccountID = AccountID from Account WHERE Username = @Username AND Password = @Password

UPDATE [User]
SET
FirstName = @FirstName,
LastName = @LastName,
Gender = @Gender,
Email = @Email,
Address = @Address,
IsAdmin = @IsAdmin,
IsBlocked = @IsBlocked
WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateBlockedUser]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spUpdateBlockedUser]
@UserID int,
@IsBlocked bit
AS
BEGIN
UPDATE [User]
SET
IsBlocked = @IsBlocked
WHERE UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateStatus_Recipe]    Script Date: 25/11/2020 00:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spUpdateStatus_Recipe]
@status bit,
@recipeID int

AS

BEGIN

UPDATE Recipes..Recipes
SET 
Status = @status
Where RecipeID = @recipeID

end

GO
USE [master]
GO
