<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Recipes.Data.Properties.Settings.conStr" connectionString="Data Source=.\SQLEXPRESS; database=PedroMateus_Recipes;integrated security=true;" />
        <add name="Recipes.Data.Properties.Settings.conNorth" connectionString="Data Source =.\SQLEXPRESS; database=Northwind; integrated security = true;" />
    </connectionStrings>
</configuration>